
/* ____________________________ BODY _____________________________*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(to right, #F192F0,  #E78AD8  , #D680C2  , #C678B0 , #B671A0  , #A87494  , #A280CE );


}

html{

    scroll-behavior: smooth;/*newwwwwwwwwwwwwwwwwwwwwwww*/
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}


/*____________________________________________________________________________________________*/

.regi{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 858px;
}

.signin{
    font-size: 20px;
    text-transform: capitalize;
    display: grid;
    justify-content: center;
}
.signin .parent{
  padding: 50px;
  box-shadow: 1px 1px 40px #00000061;
  color: white;
  background-color: black;
}

.signin .parent div form  .child {
  justify-content: center;
  align-items: center;
  flex-flow: inherit;
  position: relative;
  
}

.signin .parent input{
  border: 1px;
  text-transform: capitalize;
  background-color: transparent;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 2;
  color: white;
}
.signin .parent  label{
  position: absolute;
  transition: 0.3s;
  margin-left: -219px;

}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
.signin .parent input.uni {
  border-bottom: none; /* Remove the bottom border */
  position: static; /* Reset position */
  z-index: auto; /* Reset z-index */
}

.signin .in{
  background-color:#c382af;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.signin .in:hover{
  background-color: #DDA6E3;
}
.signin .in input{
  border: 1px;
  text-transform: capitalize;
  background-color: transparent;
}





.signin .parent input:focus + label,
.signin .parent input:not(:placeholder-shown) + label {
    margin-top: -20px;
    color: #ed8fe7 !important;
    font-size: 14px;
    font-weight: bold;
}



.signin .parent .icons{
  display: flex;
  justify-content: center;
  gap: 18%;
}
.signin .parent .icons div{
  background-color: #A563AD;
  width: 20%;
  box-shadow: 1px 1px 4px black;
  transition: 0.3s;
  cursor: pointer;
}


.signin .parent .icons div:hover{
  color: black;
  background-color: #8A3EEE;
}







.signin .row a{
  text-decoration: none;
  color: white;
  transition: 0.3s;

}

.signin .row a:hover{
  text-decoration: underline;
}

#signinform{
  width: 261px;
  text-align: initial;
}








@media (max-width: 767px) {

  .visible-xs {
      display: block !important
  }
  .hidden-xs {
      display: none !important
  }
  .responsive-paragraph {
      text-align: center;
      font-size: 20px !important
  }
  
  .signin{
    font-size: 15px;
   
  }
  .signin .parent{
  padding: 10px;
  box-shadow: 1px 1px 40px #00000061;
  color: white;
  background-color: black;
  }
  #signinform{
    padding: 10px;
  }
  .signin .parent label{
    margin-left: -165px;
  }
}











@media (max-width: 767px) {

  .visible-xs {
      display: block !important
  }
  .hidden-xs {
      display: none !important
  }
  .responsive-paragraph {
      text-align: center;
      font-size: 20px !important
  }
  
  
}

@media (min-width: 768px) and (max-width: 991px) { /* Small Screen Rules */
  .container {
      width: 750px
  }
  .visible-sm {
      display: block !important
  }
  .hidden-sm {
      display: none !important
  }
  .home .overlay .info{
    font-size: 9px;
  }
  .visible-list{
    display: grid !important;
  }


  
 
}





@media (min-width: 992px) and (max-width: 1199px) { /* Medium Screen Rules */
.container {
    width: 970px
}
.visible-md {
    display: block !important
}
.hidden-md {
    display: none !important
}
}

@media (min-width: 1200px) { /* Large Screen Rules */
.container {
    width: 1170px
}
.visible-lg {
    display: block !important
}
.hidden-lg {
    display: none !important
}
}

  /* Start My Framework */
  
  .container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px
  }
  
  .text-center {
    text-align: center
  }
  
  .clearfix {
    clear: both
  }
  
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg {
    display: none
  }
  
  .float-left {
    float: left
  }
  
  .float-right {
    float: right
  }
  
  .h1 {
    font-size: 2em
  }
  
  .responsive-paragraph {
    line-height: 1.8;
    font-size: 22px
  }
  
  .responsive-image {
    width: 100%
  }
  
  .classic-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .img-circle {
    border-radius: 50%
  }
  
  .img-thumbnail {
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC
  }
  .blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(10px); /* Add blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    z-index: 1; /* Ensure the blur effect is behind the content */
    transition: 0.3s;
}

  /* End My Framework */

